
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background: url(../images/bg.png);
    margin: 0;
}

canvas{
    background: url(../images/bg_game.png);
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}